.showcase {
  background: url("../img/showcase.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  padding: 140px 100px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase {
  h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  hr {
    width: 100px;
    margin: auto;
    border-width: 3px;
    border-color: #f44336;
  }
  p {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

.section {
  padding: 35px 0;

  h2 {
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 190px;
  }

  .showcase {
    height: 400px;
    padding: 70px 0;
  }
}
